snippet target "Ant target" b
<target name="${1:target_name}" description="${2:What the target does}">$0
</target>
endsnippet

snippet exec "Ant executable" b
<exec executable="${1:program}">$0
</exec>
endsnippet

snippet arg "Ant argument" b
<arg value="${1:value}" />$0
endsnippet
