snippet data "CtK Data File" b
---
engineer: ${1:Kevin Gustavson}
processor: $1

sermon:
  title: $2
  preacher: Pastor ${3:Ken Carr}
  reader: Pastor ${4:Jeff Holwerda}
  scripture: $5 $6
  series: Book of $5
  comment: ${7:null}
$0
#tracks:
---
endsnippet
